html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-align: left;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/* Nav */
header {
  width: 100%;
  display: table;
  background-color: #3d5af1;
  /* box-shadow: 0px 0px 35px rgb(146, 146, 146); */
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 0;
  z-index: 9999;
}
header .logo {
  float: left;
  padding-left: 12.5%;
  line-height: 55px;
  height: 55px;
}
header .logo h1 a {
  color: #fafaf6;
  font-size: 25px;
  font-weight: 600;
}
nav {
  float: right;
  padding-right: 12.5%;
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}
nav ul li {
  line-height: 55px;
  height: 55px;
  padding: 0 20px;
}
nav ul li a {
  font-weight: 400;
  font-size: 14px;
  color: #d1d1d1;
  text-decoration: none;
}
.active-nav {
  color: #ffffff;
  font-weight: 500;
}
.App {
  width: 75%;
  padding: 120px 12.5% 60px 12.5%;
}
/* Home */
#sec1-home {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: table;
}
.site-title {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 95px;
  margin-top: 15px 0 0 0;
  letter-spacing: 4px;
  line-height: 105px;
}
.site-description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  width: 80%;
  margin: 0 20% 0 0;
}

#sec2-home {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

#sec3-home {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
#sec4-home {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

/* Mission */
.mission-div {
  height: 45vh;
  width: 100%;
  background-attachment: fixed;
  background-image: url("../images/close-up-of-screw-257759.jpg");
  background-size: cover;
  display: table;
  background-color: black;
}
.mission-title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 43px;
  color: #ffffff;
  margin-top: 80px;
}
.mission-para {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 19px;
  color: #ffffff;
  width: 50%;
  margin: 40px auto 80px auto;
  display: table;
}

/* Footer */
footer {
  width: 100%;
  background-color: #0d0e0e;
  text-align: center;
  display: table;
  color: #eaeaea;
  padding: 50px 0;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
footer a {
  color: #eaeaea;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
